<h1>Welcome to GPU MarketPlace</h1>
<h2>Best place on the internet for used graphics cards</h2>
<!-- <p>Find me in app/views/simple_pages/index.html.erb</p>
<p>Welcome! The date and time is <%= Time.now %></p> -->
<%= image_tag("1080 card.png", class: "img-responsive my-image" ) %>
