<table>
  <tbody>
    <tr>
      <td><p>Thank you for taking the time to sign up to GPU Marketplace <%=@name%></p></td>
    </tr>
    <tr>
      <td><p>We appreciate every customer who spares the time to make an account on our site. We are small but growing and every single visitor supports us to build this site.
      We hope to see you again</p></td>
    </tr>
    <tr>
      <td><p>Many Thanks, <br> Louie (Developer for the site)</p></td>
    </tr>
  </tbody>
</table>
