/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.raty
 *= require_tree .

 */
 .btn-group-lg {
   background-color: #1C0032;
   color: #D7D8D8;
   font-size: 1.1rem;
   font-family: 'Raleway', sans-serif;
   padding: 7px;
 }

 #searchspacing {
   padding-right: 30px;
 }

 #searchspacing #q {
   padding-bottom: 7px;
 }

p,
h1,
h2,
h3,
h4,
a {
  color: black;
}

#formbutton {
  color: white;
  display: inline-block;
  background-color: purple;
  font-size: 1.2rem;
  padding: 8px 3px;
  border: solid #0F0417 3px;
}

body {
  background-color: white;
}



#sidebar span {
  display: block;
  color: white;
  font-size: 1.1rem;
  padding-left: 30px;
  padding-right: 80px;
  padding-top: 8px;
  padding-bottom: 2px;
}

#sidebar {
  position: fixed;
  top: 100px;
  left: 0px;
  background-color: #1C0032;
  border-right: solid #580541 30px;
}


#accountside,
#mainside,
#contactside,
#adminside {
  padding: 20px 0px;;
  text-align: left;
}

#contactside {
  padding-bottom: 2000px;
}

#sidebar span:hover, .active {
    color: darkgrey;
    letter-spacing: .01rem;
    background-color: white;
    padding: 10px 20px;
}

.under-carousel-logo {
  display: none;
}


@media (max-device-width: 1080px) {
  #navbarlogo {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#pagecontentcustom {
  padding-left: 253.36px;
  padding-top: 100px;
}

@media (max-device-width: 1080px) {
  #sidebar_button,
  #sidebar {
    display: none;
  }
  #pagecontentcustom {
    padding-left: 0px;
    padding-top: 30px;
  }
  #myCarousel {
    display: none;

  }
  .carousel-logo {
    display: inline;
    padding-top: 20px;
    width: 100%;
  }
  #moreinfobutton,
  #product_description{
    display: none;

  }
}

.productbackdrop {
  background-color: #E5E5E5;
  border: white solid 10px;
  border-radius: 20px;
  text-align: center;
}


#product_price {
  display: inline;
}

button {
  float: right;
}

#moreinfobutton {
  background-color: #580541;
  border: #580541;
  float: right;
  position: relative;
  bottom: 1%;
  width: 100%;

}

.productbackdrop:hover, .active {
  background-color: lightgrey;
}

#product_title:hover, .active,
#product_description:hover, .active,
#product_price:hover, .active,
#moreinfobutton:hover, .active {
    color: #A00976;
    letter-spacing: .01rem;
    background-color: white;
}

#welcome_alert {
  text-align: center;
}

.productimage {
  display: block;
  width: 100%;

}
