// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product_title {
  font-size: 1.4rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #455553;
}



#price {
  color: #455553;
  font-size: 1.1vw;
}

#formbutton {
  color: #455553;
  display: inline-block;
  background-color: purple;
  font-size: 1.2rem;
}
@media (max-device-width: 1080px) {

  .productimage {
    display: block;
    width: 100%;
  }
  text-align: center;
  button {
    display: block;
    align-items: center;
  }
}


.product-reviews {
  text-align: left;
}
