// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-responsive {
  width: 100%;
  height : 60%;
  padding-bottom: 10px;
}

#product_title {
  font-size: 1.4rem;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #D7D8D8;
  font-style: italic;
}



#price {
  color: #455553;
  font-size: 1.1vw;
}

#formbutton {
  color: #455553;
  display: inline-block;
  background-color: purple;
  font-size: 1.2rem;
}
@media (max-device-width: 1080px) {

  .productimage {
    height: 45%;
  }
  text-align: center;
  button {
    display: block;
    align-items: center;
  }
}
