// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: sans-serif, arial;
  font-size: 5vw;
  text-align: center;
  color: #455553;
}

nav {
  background-color: #580541;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 6px 14px 0 rgba(0,0,0,0.35);
}

nav a {
    color: white;
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
    transition: 600ms ease;
    -webkit-transition: 600ms ease;
}

nav a:hover, .active {
    color: #ffffff;
    letter-spacing: .01rem;
}

#titlebar {
  font-style: italic;
  font-size: 1.6rem;
  font-weight: bold;
}

.my-image {
  height: 500px;
  width: 550px;
}

footer {
  padding: 10px 0px;
  text-align: center;
  background-color: #ABB3B2;
  margin-top: 500px;
}

#landing-title {
  padding-top: 50px;
}

.landing-image {
  height: 40%;
  width: 60%;
}

.carousel-caption {
  font-size: 2rem;
}

#paramexample {
  color: white;
}

#LatestProductsHeader {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
