<p id="notice"><%= notice %></p>

<h1>OUR CARDS</h1>




<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-6 col-sm-3" id="prod_box">
        <%= render product %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'New Product', new_product_path %>
<%= @test_variable %>
<!-- Product.create(name: "Nvidia Geforce GTX 1080", description: "Very good - dupeitem", image_url="1080 card.png", avgprice: 999.999)
Product.create(name: "Nvidia Geforce GTX 1080", description: "Very good - dupeitem", image_url: "1080 card.png", avgprice: 999.999)
