<h2>All Comments </h2>
<hb>
<div class=".product-reviews">
    <% @comments.reverse_order.each do |comment| %>
      <%= render comment %>
    <% end %>
</div>

<%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
<hr>
